.content {
  width: 95%;
  max-width: 60rem;
  margin: 2rem auto;
  font-size: 1.25rem;
  line-height: 2rem;
  background-color: hsl(265, 19%, 88%);
  border-radius: 6px;
  padding: 1rem;
}

.content p {
  color: hsl(276, 5%, 20%);
  margin: 0.875rem 0;
  line-height: 1.6;
}

.content h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.75rem 0;
}
.content .image {
  margin: 1rem auto;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 768px) {
  .content {
    padding: 2rem;
  }
}
